/* styles.css */

/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #334FFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    margin-left: 10px;
}

nav {
    background-color: #334FFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
}

.nav-menu li {
    display: inline;
    margin: 0 10px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-menu li a:hover {
    background-color: #728C00;
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #334FFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.marquee {
    background-color: DodgerBlue;
    color: white;
    padding: 10px 0;
    font-weight: bold;
}

.about-us, .bridal-dresses, .bridal-shoes, .events {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dress-category, .shoe-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dress-gallery img, .shoe-gallery img {
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.dress-gallery img:hover, .shoe-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.trustees {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trustee {
    margin: 20px;
    text-align: center;
}

.trustee img {
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.trustee img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, .caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.main-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px); /* Adjusted to account for header and footer heights */
    background-color: #f0f0f0;
}

.form-container {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
